
@import url(https://fonts.googleapis.com/css?family=Oswald);



footer {
	background-color: darkturquoise;
	color: #ffffff;
	font-style: italic;
	margin-top: 30px;
	padding: 60px 0;
}


/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	text-align: center;
	/* width: 100%;
	background: url(../images/canyon.jpg) no-repeat center center fixed;//
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.jumbotron {
	background: transparent;
	color: #000000;
	font-family: Oswald;
	height: 400px;
}

h1 {
	text-align: center;
}

h2 {
	color: #000000;
	font-family: Georgia;
}

h3 {
	color: blue;
}

p {

	font-size: 125%;
}
.parallax-window {
	min-height: 400px;
	background: transparent;
}
nav {

	display: inline-block;
	text-align: center;
	width:750px;
	margin:0 auto;
	list-style:none;

}

.nav ul {
	display: inline-block;
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {

	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	text-align: center;
	}


.content-box {
	color: orangered;
	padding: 10px 15px 15px;
	margin-bottom: 20px;

}

form {
	color: darkblue;
	width: 50%;
	height: 100%;
	display: inline-block;
	padding:15px 15px 15px;

}

img {
	align-items: center;
}