/**
* Style Sheet 1
*
**/
@import url(https://fonts.googleapis.com/css?family=Oswald);

html {
	background-image: url(../images/chaco.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header {
	margin-top: 20px;
}

footer {
	background-color: darkturquoise;
	color: #ffffff;
	font-style: italic;
	margin-top: 30px;
	padding: 60px 0;
}


/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.jumbotron {
	background-color: darkturquoise;
	color: #ffffff;
	font-family: Oswald;
}



h1 {
	text-align: center;
}

h2 {
	color: white;
}

nav {
	align-items: center;
}

li {
	font-family: "Comic Sans MS";
	color: #ffffff;
}

.content-box {
	background-color: tomato;
	border-radius: 6px;
	padding: 10px 15px 15px;
	margin-bottom: 20px
}

form {
	width: 40%;
	height: 75%;

}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}



