
@import url(https://fonts.googleapis.com/css?family=Oswald);



footer {
	background-color: darkturquoise;
	color: #ffffff;
	font-style: italic;
	margin-top: 30px;
	padding: 60px 0;
}


/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/

body { width: 100%;
	background: url(../images/canyon.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}


.jumbotron {
	background: transparent;
	color: #000000;
	font-family: Oswald;
}

.navbar.navbar-inverse{
	background: rgba(0,0,0,0.4)
}

ul#navigation{

}


h1 {
	text-align: center;
}

h2 {
	color: #d3d3d3;
	font-family: Georgia;
}

h3 {
	color: darkblue;
}

p {
	color: white;
	font-size: 125%;
}

li {
	font-family: "Comic Sans MS";
	color: yellow;
}

.nav-center {
	text-align: center;
}
ul.nav {
	display: inline-block;
}

.content-box {
	border-radius: 6px;
	padding: 10px 15px 15px;
	margin-bottom: 20px
}

form {
	color: darkblue;
	width: 50%;
	height: 100%;

}

img {
	align-items: center;
}