/*
****Global styles****
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	background: #dcdcdc;
	font-family: "Montserrat";
}

/*
****specific page styles****
*/
h1 {
	-moz-text-align-last: center;
	box-shadow: black;
}
